<div #header><app-header></app-header></div>

<div class="container">
    <div class="row">
      <div class="col-md-2" [ngStyle]="{'margin-top':marginoo}">  
          <button (click)="changeroute1()" class="btn btn-success ">somduhuhue shit</button>
</div>
        <textarea  (keypress)="updatedatabase()" [(ngModel)]="content" [ngClass]="rotatee()" [ngStyle]="{'height': resulto}"  class="textarea col-md-8" ></textarea>
<div class="col-md-2" [ngStyle]="{'margin-top':marginoo}">
        <button (click)="changeroute()" class="btn btn-success">some shit</button></div>
    </div>
</div>
<input [(ngModel)]="ther">

